body{
  color: #fff;
}
#modes{
  display: none;
}

#tools{
  display: none;
}
#medium{
  display: none;
}


iframe{
  max-width: 75vw;
  max-height: 50vh;
}

.circle{
  text-align: center;
  background: #333;
  transition: .4s;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 40px;
  border-radius: 100px;
}
